In [1]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pandas as pd
#connection_str = "mysql+pymysql://root:root@localhost/books"

In [2]:
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "books"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [4]:
author = pd.read_csv('Data/authors.csv')
books = pd.read_csv('Data/books.csv')
favorites = pd.read_csv('Data/favorites.csv')
users = pd.read_csv('Data/users.csv')

In [5]:
author.to_sql('authors', engine, index=False, if_exists = 'replace')
books.to_sql('books', engine, index=False, if_exists = 'replace')
favorites.to_sql('favorites', engine, index=False, if_exists = 'replace')
users.to_sql('users', engine, index=False, if_exists = 'replace')

3

In [6]:
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [7]:
q = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = (SELECT users.id FROM users WHERE
(users.last_name = 'Doe' AND users.first_name =
'John'));"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

![png](image_books_ERD.png)

![png](image_books_ERD.png)